.background1{
    background-image: url(nfl.svg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.playerPic{
    max-width: 200px;
  }

.bgsearch{
    background-color: white;
    background-position: fixed;
    border-color: red;
    border-width: 12px;
    padding: 10px;
}

.bordercard1{
    border-color:rgb(32, 32, 110);
    border-width: 12px;
    padding: 10px;
}

.bordercard2{
    border-color:rgb(32, 32, 110);
    border-width: 12px;
    padding: 10px;
}

body{
    color: red;
}